In [14]:
#Initial Setup
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [15]:
df = pd.read_csv('dass.csv')
df.head()

,country,education,urban,gender,engnat,age_group,hand,religion,orientation,race,...,major,Depression,Depression_cat,Anxiety,Anxiety_cat,Stress,Stress_cat,dep_cond,anx_cond,str_cond
0,IN,2,3,2,2,0-20,1,12,1,10,...,No Degree,27,3,34,4,40,4,3 Severe,4 Extremely Severe,4 Extremely Severe
1,US,2,3,2,1,0-20,2,7,5,70,...,No Degree,24,3,17,3,27,3,3 Severe,3 Severe,3 Severe
2,PL,2,3,2,2,0-20,1,4,3,60,...,No Degree,39,4,12,2,17,1,4 Extremely Severe,2 Moderate,1 Mild
3,US,1,3,2,1,0-20,2,4,5,70,...,Biology,16,2,17,3,16,1,2 Moderate,3 Severe,1 Mild
4,MY,3,2,2,2,0-20,3,10,1,10,...,Psychology,32,4,40,4,29,3,4 Extremely Severe,4 Extremely Severe,3 Severe

In [16]:
df['country']=pd.factorize(df['country'], sort=True)[0]+1
df['age_group']=pd.factorize(df['age_group'], sort=True)[0]+1
df['major']=pd.factorize(df['major'], sort=True)[0]+1
df=df.drop(['dep_cond','anx_cond','str_cond'],axis=1)
df.head()

,country,education,urban,gender,engnat,age_group,hand,religion,orientation,race,voted,married,familysize,major,Depression,Depression_cat,Anxiety,Anxiety_cat,Stress,Stress_cat
0,61,2,3,2,2,1,1,12,1,10,2,1,2.0,46,27,3,34,4,40,4
1,135,2,3,2,1,1,2,7,5,70,2,1,4.0,46,24,3,17,3,27,3
2,105,2,3,2,2,1,1,4,3,60,1,1,3.0,46,39,4,12,2,17,1
3,135,1,3,2,1,1,2,4,5,70,2,1,5.0,10,16,2,17,3,16,1
4,92,3,2,2,2,1,3,10,1,10,2,1,4.0,56,32,4,40,4,29,3

In [20]:
# Analyze Depression only
X = df.drop(['Depression','Depression_cat','Anxiety','Anxiety_cat','Stress','Stress_cat'],axis=1)
y = df['Stress_cat']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#Standardization-transforming values so mean is 0 and SD is 1
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

knn=KNeighborsClassifier(n_neighbors=13)
knn.fit(X_train, y_train)
y_predict = knn.predict(X_test)
print(knn.score(X_test,y_test))

0.284012749538668